h4 {
    color: #5c3d3d;
    text-align: center;
    font-size: 20px;
}

p {
    color: #5c3d3d;
}

.profileDisplay {
    color: #5c3d3d;
    font-size: 15px;
}

input, textarea {
    font-style: italic;
    border: 2px solid #a6a6a6;
}

input[readonly] {
    background-color: #ffffcc !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem #d9d9d9;
}

.btn-link {
    color: #5c3d3d;
}

.btn-link:hover {
    text-decoration: none;
    color: #333333;
    opacity: 0.5;
}

.btn-save {
    color: #e8e4e4;
    background-color: #6b4747;
}

.btn-save:hover {
    background-color: #b3b3b3;
    text-decoration: none;
    opacity: 0.5;
}

a {
    background-color: transparent;
    color: #6b4747;
}

a:hover {
    color: #b3b3b3;
}

.container {
    color: black;
}

img {
    max-width: 90%;
    max-height: 90%;
    width: 90%;
    height: 90%;
}

tbody {
    background-color: #CFD5D5;
}

p, h4, a {
    color: #333;
}

a:hover {
    color: #4d3333;
    text-decoration: none;
    opacity: 0.9;
}

.tooltip-inner, .tooltip-inner a, .tooltip-inner p, .tooltip-inner h4 {
    background-color: #532D2D;
    color: #CFD5D5;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    right: 0;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #532D2D;
}

.infoBooks img {
    max-width: 90%;
    max-height: 70%;
    width: 90%;
    height: 70%;
}

.likeAlign {
    text-align: center;
    margin-left: -0.8rem;
}

.textButton {
    display: none;
}

#imageDetails {
    margin-left: 0.3rem;
}

#reviewPicture {
    max-width: 60px;
    max-height: 60px;
    width: 60px;
    height: 60px;
}

.textAlign {
    text-align: left;
}

.likeButton {
    float: left;
    display: inline-block;
    border-right: 1px outset grey;
    border: 1px outset grey;
}

.dislikeButton {
    float: right;
    display: inline-block;
    border-right: 1px outset grey;
    border-top: 1px outset grey;
}
