.searchForum input[type=text] {
    font-size: 13px;
    background-color: #D2D2D2;
    border: 2px solid #333;
    font-style: italic;
}

.searchForum:hover {
    opacity: .8;
}

.searchForum {
    color: #9C9C9C;
}

#searchIcon {
    background-color: #D2D2D2;
}

#searchOption:focus {
    box-shadow: 0 0 0 0;
}

.searchForum.dropdown-toggle::after {
    display: none;
}

.displayDivWithSearchOptions {
    display: none;
}

.displayDivWithSearchOptions.dropdown-menu.drop-item {
    width: 500px;
}

#noResult {
    display: none;
}

#searchOptions {
    list-style-type: none;
}

#searchOptions li {
    margin-left: -1.5rem;
}

.searchImage {
    max-width: 25px;
    max-height: 40px;
    width: 25px;
    height: 40px;
    padding: 2px;
}