body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(../images/background.png) no-repeat center center fixed;
    background-size: cover;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.searchForum input[type=text] {
    font-size: 13px;
    background-color: #D2D2D2;
    border: 2px solid #333;
    font-style: italic;
}

.searchForum:hover {
    opacity: .8;
}

.searchForum {
    color: #9C9C9C;
}

#searchIcon {
    background-color: #D2D2D2;
}

#searchOption:focus {
    box-shadow: 0 0 0 0;
}

input[type="file"] {
    display: none;
}

.fileUpload {
    cursor: pointer;
    display: inline-block;
    color: #e8e4e4;
    background-color: #5d3b45;
    padding: 4px 8px;
    text-align: center;
}

.fileUpload:hover {
    background-color: #4a2f37;
    text-decoration: none;
    font-style: italic;
    color: #ac5358;
}

#navigationPicture {
    width: 30px;
    height: 30px;
}

input {
    font-style: italic;
}

/*.dropdown-menu {
    background-color: #D2D2D2;
}

.dropdown-item {
    color: #e8e4e4;
}*/

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #B9B1B1;
}

#logoPicture {
    width: 150px !important;
}