h2 {
    color: #333;
}

.favoriteBooks {
    padding-right: 0;
    padding-left: 0;
}

.rightContent {
    border-left: 1px solid #DEE2E6;
}

.breadcrumb {
    background: transparent;
    color: #4d3333;
}

.breadcrumb-item:hover {
    color: #C0B2B2;
    cursor: pointer;
}

#followed {
    display: none;
}