@model BookListCreateModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IBookService BookService

@{
    ViewData["Title"] = "Add";
    var userId = UserManager.GetUserId(User);
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Books/Modify.css" />
</environment>

<div class="container">
    <div class="modal fade createModal" id="createBook">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title mx-auto mw-100" id="title">
                        <strong>
                            Add a new book
                        </strong>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        @{
                            var books = BookService.GetAllBooks();
                        }
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            @Html.Hidden("UserId", userId)
                            <div class="form-group row">
                                <label class="col-4 col-md-4 col-form-label leftText" asp-for="Title"></label>
                                <div class="col-8 col-md-8 ml-auto">
                                    <input asp-for="Title" class="form-control"/>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-md-4 col-form-label leftText" asp-for="Description"></label>
                                <div class="col-8 col-md-8 ml-auto">
                                    <input asp-for="Description" class="form-control"/>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-md-4 col-form-label leftText" asp-for="Books"></label>
                                <div class="col-8 col-md-8 ml-auto">
                                    <div class="form-group">
                                        <div class="col-11 col-md-11">
                                            @Html.DropDownList("Books", new SelectList(books, "Id", "Title"), null, new
                                            {
                                                @class = "form-control selectpicker",
                                                name = "Books",
                                                id = "Books",
                                                multiple = "multiple",
                                                data_live_search = "true"
                                            })
                                        </div>
                                    </div>
                                    <span asp-validation-for="Books" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <button type="submit" class="btn actionButton">Add it!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
