@model IEnumerable<BookList>

@{
    ViewData["Title"] = "Index";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/BooksForMood/Index.css" />
</environment>

<br />
<br />
<br />
<div class="row justify-content-center">
    <h3 class="actionLink">
        Search for specific books with our community's help
    </h3>
</div>
<div class="row justify-content-center">
    <h5>
        <i>
            <a asp-action="Create">..or create a new one</a>
        </i>
    </h5>
</div>
<br />
<br />
<div class="container justify-content-center">
    <div class="offset-1 col-md-10 col-10">
        @{
            var bookList = Model.ToList();
            for (var index = 0; index < bookList.Count; ++index)
            {
                var books = bookList[index].Books;

                <div class="row border-top border-bottom">
                    <div class="col-md-6 col-6">
                        <br />
                        @await Html.PartialAsync("IndexPages/_CreatorContent", bookList[index])
                    </div>

                    <div class="col-md-6 col-6 justify-content-center">
                        <br/>
                        @await Html.PartialAsync("IndexPages/_DisplayBooksContent", books)
                        <br/>
                    </div>
                </div>
                <br />
            }
        }
    </div>
</div>
<br />