@model Book
@inject SignInManager<ApplicationUser> SignInManager

<environment include="Development">
    <link rel="stylesheet" href="~/css/Books/LeftContent.css" />
</environment>

<div class="card sticky-top border-0" id="leftContentCard">
    <div class="row justify-content-center">
        <img class="card-img-top rounded" src="@Url.Content("..\\..\\..\\images\\" + Model.Folder + "\\" + Model.ImageName)" />
    </div>
    <div class="card-body actionColors">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="row displayContent">
                @await Html.PartialAsync("DetailsPages/_ReadActionsContent", Model.Id)
            </div>
        }
    </div>
</div>