@model IEnumerable<ApplicationUser>
@inject IApplicationPictureLogic PictureService

<div class="row justify-content-center" id="socialRow">
    @{
        var users = Model.ToList();
        if (users.Count > 0)
        {
            for (var index = 0; index < users.Count; ++index)
            {
                var checkIndex = index + 1;
                var displayInfo = "<h4>" + users[index].FirstName + " " + users[index].LastName + "</h4><p>" + users[index].Description + "</p>";
                <div class="col-md-3 col-3">
                    <div class="card">
                        <a asp-action="Index" asp-route-username="@users[index].User" data-toggle="tooltip" data-placement="right" data-html="true" title="@displayInfo">
                            <div class="row justify-content-center">
                                <img class="rounded-circle socialImage" src="@Url.Content("~/" + PictureService.GetFolderWithFile(users[index].Id))" />
                            </div>
                            <div class="row justify-content-center">
                                <h7>/@users[index].User</h7>
                            </div>
                        </a>
                    </div>
                </div>

                if (checkIndex % 4 == 0)
                {
                    <div class="w-100"></div>
                    <br />
                }
            }
        }
        else
        {
            <h5>
                <br />
                You're the only one of your kind here <i class="fa fa-frown-o"></i>
            </h5>
        }
    }
</div>