#title {
    color: #4d3333;
}

#addOption {
    cursor: pointer;
    color: #4a2f37;
}

#addOption:hover {
    color: #84474e;
}

.rightContent {
    border-left: 1px solid #DEE2E6;
}

.indexImages {
    max-width: 170px;
    max-height: 210px;
    width: 170px;
    height: 210px;
}