.rightContent {
    border-left: 1px solid #DEE2E6;
}

p, h4, a {
    color: #333;
}

a:hover {
    color: #4d3333;
    text-decoration: none;
    opacity: 0.9;
}

.tooltip-inner, .tooltip-inner a, .tooltip-inner p, .tooltip-inner h4 {
    background-color: #532D2D;
    color: #CFD5D5;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    right: 0;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #532D2D;
}

.textButton {
    display: none;
}

.writtenBooks {
    max-width: 120px;
    max-height: 170px;
    width: 120px;
    height: 170px;
}

.textAlign {
    text-align: left;
}

.arrowWrittenBooks {
    font-size: 45px;
    color: #4d3333;
}

.indexImages {
    max-width: 170px;
    max-height: 210px;
    width: 170px;
    height: 210px;
}