@model Author
@inject IBookService Books
@inject ILikeService Likes
@inject IApplicationPictureLogic PictureService
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Authors/Author.css" />
    <link rel="stylesheet" href="~/css/PartialPosts.css" />
</environment>

<br />
<br />
<div class="container text-center">
    <div class="row">
        <div class="col-md-3 col-3">
            @await Html.PartialAsync("DetailsPages/_LeftContent", Model)
        </div>
        <div class="col-md-7 col-7 rightContent">
            <div class="row text-left ml-4">
                <h3 class="displayName">
                    @Model.Name
                </h3>
            </div>
            @await Html.PartialAsync("DetailsPages/_WrittenBooksContent", Model.Books.ToList())

            <br/>
            @await Html.PartialAsync("DetailsPages/_PostSection", Model)
        </div>
   </div>
</div>