@model Author
@inject IBookService Books
@inject ILikeService Likes
@inject IApplicationPictureLogic PictureService
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Authors/Details.css" />
    <link rel="stylesheet" href="~/css/PartialPosts.css" />
</environment>

<br />
<br />
<div class="container text-center">
    <div class="row">
        <div class="col-md-3 col-3">
            @await Html.PartialAsync("DetailsPages/_LeftContent", Model)
        </div>
        <div class="col-md-9 col-9 rightContent">
            <div class="row text-left ml-4">
                <h3 id="title">
                    @Model.Name
                </h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-4"><hr /></div>
                <div class="col-auto">
                    <a asp-controller="Books" asp-action="Authors" asp-route-author="@Model.Name">
                        <h5 id="books">Books</h5>
                    </a>
                </div>
                <div class="col-4"><hr /></div>
            </div>

            @await Html.PartialAsync("DetailsPages/_WrittenBooksContent", Model.Books.ToList())

            <br/>
            @await Html.PartialAsync("DetailsPages/_PostSection", Model)
        </div>
    </div>
</div>

<environment include="Development">
    <script src="~/js/Authors.js"></script>
</environment>