@model Author

<environment include="Development">
    <link rel="stylesheet" href="~/css/Authors/LeftContent.css" />
</environment>

<br />
<div class="card sticky-top border-0" id="leftContentCard">
        <div class="row justify-content-center">
            <img class="card-img-top imageContent" src="@Url.Content("..\\..\\images\\" + Model.Folder + "\\" + Model.ImageName)" />
        </div>
        <br />
        <div class="row ml-3">
            <h7 class="displayInfo">
                Description
            </h7>
        </div>
        <hr id="hrDetails" />
        <div class="row displayContent">
            <h6 class="description">
                @Model.Description
            </h6>
        </div>
</div>