@model Author

<environment include="Development">
    <link rel="stylesheet" href="~/css/Authors/LeftContent.css" />
</environment>

<br />
<div class="offset-1 col-md-10 col-10 sticky-top">
    <div class="card border-0" id="leftContentCard">
        <div class="row justify-content-center">
            <img class="card-img-top imageContent" src="@Url.Content("..\\..\\..\\images\\" + Model.Folder + "\\" + Model.ImageName)" />
        </div>
        <br />
        <div class="row">
            <div class="card card-body">
                <div class="row justify-content-center">
                    <p class="displayNormalContent">
                        ,,@Model.Description,,
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="card card-body">
                <div class="row">
                    <div class="col"><hr /></div>
                    <div class="col-auto"><h6 class="displayAction">Actions</h6></div>
                    <div class="col"><hr /></div>
                </div>
                <div class="row justify-content-center">
                    <p>
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="displayContent">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <br/>
                        <a asp-action="Index" class="displayContent">
                            <i class="fa fa-undo"></i> Search for authors
                        </a>
                        <br/>
                        <a asp-controller="Books" asp-action="Index" class="displayContent">
                            <i class="fa fa-users"></i> Search through books
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>