@model List<AuthorBook>
@inject IBookService BookService
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="row justify-content-center">
    <div class="col-4"><hr /></div>
    <div class="col-auto">
        <h5 id="books">Books</h5>
    </div>
    <div class="col-4"><hr /></div>
</div>
<div class="container">
    @{
        var books = Model.ToList();
        <div class="row">
            @for (var index = 0; index < books.Count; ++index)
            {
                var checkIndex = index + 1;
                var book = BookService.GetBookById(books[index].BookId);
                var displayInfo = "<h4>" + book.Title + "</h4><p>" + book.Description + "</p>";

                <div class="col-md-3 col-3">
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" data-toggle="tooltip" data-placement="right" data-html="true" title="@displayInfo">
                        <img class="rounded writtenBooks" src="@Url.Content("..\\..\\images\\" + book.Folder + "\\" + book.ImageName)" />
                    </a>
                </div>

                if (checkIndex % 4 == 0)
                {
                    <div class="w-100"></div>
                }
            }
        </div>
    }
</div>