@using Microsoft.AspNetCore.Identity
@using Data.Domain.Entities
@using Data.Domain.Interfaces.Services
@inject IApplicationUserServices Service
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<environment include="Development">
    <link rel="stylesheet" href="~/css/partialLogin.css" />
</environment>

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">@Service.GetNameOfTheSpecifiedId(UserManager.GetUserId(User)) <span class="glyphicon glyphicon-user"></span></a>
            <ul class="dropdown-menu">
                <li class="drop-item"><a href="#">Explore</a></li>
                <li class="drop-item"><a href="#">Community</a></li>
                <li class="drop-item"><a href="#">News</a></li>
                <li class="divider"></li>
                <li class="drop-item"><a asp-area="" asp-controller="Manage" asp-action="Index">Settings <span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="drop-item">
                    <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                        <button type="submit" class="btn-logout">Log out <span class="glyphicon glyphicon-log-out"></span></button>
                    </form>
                </li>
            </ul>
        </li>
   </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register <span class="glyphicon glyphicon-plus-sign"></span></a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in <span class="glyphicon glyphicon-log-in"></span></a></li>
    </ul>
}
