<div class="modal fade" id="loading" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="load">
                    <h2>
                        <i class="fa fa-spinner"></i>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>