.textButton {
    display: none;
}

.postedBook {
    max-width: 140px;
    max-height: 180px;
    width: 140px;
    height: 180px;
}

.userPicture {
    max-width: 80px;
    max-height: 80px;
    width: 80px;
    height: 80px;
}

.action {
    position: absolute;
    bottom: 20px;
}

.commentsActivity {
    display: none;
}

.displayActivityComment {
    cursor: pointer;
}