.breadcrumb {
    background: transparent;
    color: #4d3333;
}

.breadcrumb-item:hover {
    color: #C0B2B2;
    cursor: pointer;
}

#planToRead {
    display: none;
}

#reading {
    display: none;
}

#read {
    display: none;
}

.favoriteBooks {
    padding: 2px;
}

.arrowFavorite {
    font-size: 45px;
    color: #4d3333;
}

.favoriteImages {
    max-width: 120px;
    max-height: 170px;
    width: 120px;
    height: 170px;
    padding: 15px;
}

.imgLibrary {
    max-width: 130px;
    max-height: 200px;
    width: 130px;
    height: 200px;
    padding-bottom: 10px;
}