.breadcrumb {
    background: transparent;
    color: #4d3333;
}

.breadcrumb-item:hover {
    color: #C0B2B2;
    cursor: pointer;
}

.tooltip-inner, .tooltip-inner a, .tooltip-inner p, .tooltip-inner h4 {
    background-color: #532D2D;
    color: #CFD5D5;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    right: 0;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #532D2D;
}

#planToRead {
    display: none;
}

#reading {
    display: none;
}

#read {
    display: none;
}

.favoriteBooks {
    margin-left: 0;
    margin-right: 0;
    padding: 2px;
}

.arrowFavorite {
    font-size: 45px;
    color: #4d3333;
}

img {
    max-width: 90%;
    max-height: 90%;
    width: 90%;
    height: 90%;
}