h2 {
    color: #333;
}

.rightContent {
    border-left: 1px solid #DEE2E6;
}

.breadcrumb {
    background: transparent;
    color: #4d3333;
}

.breadcrumb-item:hover {
    color: #C0B2B2;
    cursor: pointer;
}

#followed {
    display: none;
}

.socialImage {
    max-width: 80%;
    max-height: 80%;
    width: 100px;
    height: 100px;
}

.socialRow {
    padding: 10px;
}

a:hover {
    color: #4d3333;
    text-decoration: none;
    opacity: 0.9;
}

.tooltip-inner, .tooltip-inner a, .tooltip-inner p, .tooltip-inner h4 {
    background-color: #532D2D;
    color: #CFD5D5;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    right: 0;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #532D2D;
}