.drop-item {
width: 100%;
background-color: #ffffff;
color: #333;
}

.btn-logout {
margin-left: 8%;
background: none;
border: none;
}

.btn-logout:hover {
text-decoration: none;
}

.drop-item:hover {
background-color: #F5F5F5;
border: none;
}

.searchForum input[type=text] {
font-size: 13px;
background-color: #D2D2D2;
border: 2px solid #333;
}

.searchForum:hover {
opacity: .8;
}

.searchForum {
color: #9C9C9C;
}