@model IEnumerable<BooksWithinBooksForMood>
@inject IUtilityService UtilityService

<div class="container">
    @{
        var numerOfDisplayedBooks = 4;
        var books = Model.ToList();
        if (Model.Count() < 4)
        {
            numerOfDisplayedBooks = Model.Count();
        }

        <div class="row">
            @for (var index = 0; index < numerOfDisplayedBooks; ++index)
            {
                var book = UtilityService.GetBookById(books[index].BookId);

                <div class="col-md-3 col-3 booksOverlap">
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" data-toggle="tooltip" data-placement="right" data-html="true" title="@book.Title">
                        <img class="rounded displayedBooks" src="@Url.Content("..\\..\\..\\images\\" + book.Folder + "\\" + book.ImageName)"/>
                    </a>
                </div>
            }
        </div>
    }
</div>