@model Guid
@inject UserManager<ApplicationUser> UserManager
@inject IUtilityService UtilityService

@{
    var user = UserManager.GetUserId(User);
    var checkBookState = UtilityService.GetBookStateById(Model, Guid.Parse(user));
}

<div class="card card-body">
    @if (checkBookState != null)
    {
        var totalPages = checkBookState.NumberOfPages * 100 / UtilityService.GetBookById(Model).Pages;
        var planToRead = totalPages;
        var reading = totalPages;
        var read = totalPages;
        if (planToRead == 0)
        {
            planToRead = 25;
        }
        if (reading == 0)
        {
            reading = 70;
        }
        if (read == 0)
        {
            read = 100;
        }

        if (checkBookState.State == 1)
        {
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="planToReadButton" style="width: @planToRead%">
                    <i>On your <a href="#">plan to read</a></i>
                </div>
            </div>
            <br />
            <button type="submit" class="btn" id="readingButton" onclick="ReadAction('@Model', '@user', 'Reading')">Reading</button>
            <br />
            <button type="submit" class="btn" id="readButton" onclick="ReadAction('@Model', '@user', 'Read')">Read</button>
        }
        else if (checkBookState.State == 2)
        {
            <button type="submit" class="btn" id="planToReadButton" onclick="ReadAction('@Model', '@user', 'Plan to read')">Plan to read</button>
            <br />
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="readingButton" style="width: @reading%">
                    <i>On your <a href="#">reading</a> list..</i>
                </div>
            </div>
            <br />
            <button type="submit" class="btn" id="readButton" onclick="ReadAction('@Model', '@user', 'Read')">Read</button>
        }
        else if (checkBookState.State == 3)
        {
            <button type="submit" class="btn" id="planToReadButton" onclick="ReadAction('@Model', '@user', 'Plan to read')">Plan to read</button>
            <br />
            <button type="submit" class="btn" id="readingButton" onclick="ReadAction('@Model', '@user', 'Reading')">Reading</button>
            <br />
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="readButton" style="width: @read%">
                    <i>On your <a href="#">read</a> list..</i>
                </div>
            </div>
        }
        else
        {
            <button type="submit" class="btn" id="planToReadButton" onclick="ReadAction('@Model', '@user', 'Plan to read')">Plan to read</button>
            <br />
            <button type="submit" class="btn" id="readingButton" onclick="ReadAction('@Model', '@user', 'Reading')">Reading</button>
            <br />
            <button type="submit" class="btn" id="readButton" onclick="ReadAction('@Model', '@user', 'Read')">Read</button>
        }
     }
     else
     {
        <button type="submit" class="btn" id="planToReadButton" onclick="ReadAction('@Model', '@user', 'Plan to read')">Plan to read</button>
        <br />
        <button type="submit" class="btn" id="readingButton" onclick="ReadAction('@Model', '@user', 'Reading')">Reading</button>
        <br />
        <button type="submit" class="btn" id="readButton" onclick="ReadAction('@Model', '@user', 'Read')">Read</button>
     }
</div>
