.yesButton {
    background-color: #84474e;
    color: #f1f1f1;
}

.yesButton:hover {
    background-color: #69383e;
    color: #221011;
    font-style: italic;
}

.noButton {
    color: #4a2f37;
}

.noButton:hover {
    font-style: italic;
    color: #84474e;
}

.displayedText {
    color: #84474e;
}