@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Manage/Manage.css" />
    <link rel="stylesheet" href="~/css/Manage/StatusMessage.css" />
</environment>

<br />
<div class="col-md-12 text-center">
    <h4>General account settings</h4>
</div>

<div class="row">
    <div class="col-md-12 justify-content-center">        
        @await Html.PartialAsync("_ManageNav")
    </div>
</div>

<div class="row justify-content-center">
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}