@inject SignInManager<ApplicationUser> SignInManager

@{
    var activeValue = ViewContext.RouteData.Values["Action"].ToString();
    var indexValue = "nav-link";
    var passwordValue = "nav-link";
    var pictureValue = "nav-link";
    var deleteValue = "nav-link";

    if (activeValue == "Index")
    {
        indexValue += " active";
    }

    if (activeValue == "ChangePassword")
    {
        passwordValue += " active";
    }

    if (activeValue == "ChangePicture")
    {
        pictureValue += " active";
    }

    if (activeValue == "DeleteProfile")
    {
        deleteValue += " active";
    }
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="@indexValue" asp-action="Index"><i class="fa fa-user"></i> Profile</a>
    </li>
    <li class="nav-item">
        <a class="@passwordValue" asp-action="ChangePassword"><i class="fa fa-lock"></i> Password</a>
    </li>
    <li class="nav-item">
        <a class="@pictureValue" asp-action="ChangePicture"><i class="fa fa-image"></i> Picture</a>
    </li>
    <li class="nav-item">
        <a class="@deleteValue" asp-action="DeleteProfile"><i class="fa fa-trash"></i> Delete</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled"><i class="fa fa-bell"></i> Notifications</a>
    </li>
</ul>
