@inject SignInManager<ApplicationUser> SignInManager

@{
    var activeValue = ViewContext.RouteData.Values["Action"].ToString();
    var indexValue = "nav-link";
    var passwordValue = "nav-link";

    if (activeValue == "Index")
    {
        indexValue += " active";
    }

    if (activeValue == "ChangePassword")
    {
        passwordValue += " active";
    }
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="@indexValue" asp-action="Index">Profile</a>
    </li>
    <li class="nav-item">
        <a class="@passwordValue" asp-action="ChangePassword">Password</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Notifications</a>
    </li>
</ul>
