@inject SignInManager<ApplicationUser> SignInManager

@{
    var activeValue = ViewContext.RouteData.Values["Action"].ToString();
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link @(activeValue == "Index" ? "active" : "")" asp-action="Index">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(activeValue == "ChangePassword" ? "active" : "")" asp-action="ChangePassword">Password</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(activeValue == "SetPassword" ? "active" : "")" asp-action="ChangePassword">Notifications</a>
    </li>
</ul>
