@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";

    <div class="container">
        <div class="row justify-content-center">
            <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
                @Model
            </div>
        </div>
    </div>

    <script>
        setTimeout(function () {
            $(".alert").fadeOut("fast");
        }, 2000);
    </script>
}