@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

<div class="row">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label class="col-4 col-md-4 col-form-label" asp-for="OldPassword"></label>
            <div class="col-8 col-md-8 ml-auto">
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-md-4 col-form-label" asp-for="NewPassword"></label>
            <div class="col-8 col-md-8 ml-auto">
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-md-4 col-form-label" asp-for="ConfirmPassword"></label>
            <div class="col-8 col-md-8 ml-auto">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn actionButton w-100">Update password</button>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
