@model Book
@inject IApplicationPictureLogic PictureService
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUtilityService UtilityService

@{
    ViewData["Title"] = "Details";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Books/Details.css" />
    <link rel="stylesheet" href="~/css/PartialPosts.css" />
</environment>

<br />
<br />
<div class="container text-center">
    <div class="row">
        <div class="col-md-3 col-3">        
            @await Html.PartialAsync("DetailsPages/_LeftContent", Model)
        </div>
        <div class="col-md-9 col-9">
            <div class="container row">
                <div class="col-md-8 col-8">
                    <div class="row text-left">
                        @await Html.PartialAsync("DetailsPages/_AddFavoriteContent", Model.Id)

                        <h2 class="col-8 text-left" id="title">
                            @Model.Title
                        </h2>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 col-12 text-left">
                            <h6>
                                <i>
                                    @Model.Description
                                </i>
                            </h6>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        @await Html.PartialAsync("DetailsPages/_GenresContent", Model.Genres.ToList())
                    </div>
                    <br />
                    <br />
                    <div class="row text-center">
                        @await Html.PartialAsync("DetailsPages/_StatisticsContent", Model)
                    </div>
                    <br />
                    <br />

                    @await Html.PartialAsync("DetailsPages/_RecommendationsContent", Model)
                </div>
                <div class="col-md-4 col-4">
                    @await Html.PartialAsync("DetailsPages/_RightContent", Model)
                </div>
            </div>
            <br />
            <br />
            
            @await Html.PartialAsync("DetailsPages/_PostSection", Model)
        </div>
    </div>
</div>

<environment include="Development">
    <script>
        $(".submitRecommendation").submit(function (e) {
            e.preventDefault();
            var book = this.bookId.value;
            var user = this.userId.value;
            var recommendation = this.recommendedBookId.value;
            var reasonText = $(this).find("textarea[name='reason']").val();
            $.ajax({
                url: "/Books/RecommendABook",
                data: { bookId: book, userId: user, recommendedBookId: recommendation, reason: reasonText },
                type: "POST",
                success: function () {
                    location.reload();
                }
            });
        });
    </script>
    <script src="~/js/Books/Details.js"></script>
</environment>
