@model BookEditModel

@{
    ViewData["Title"] = "Edit";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Books/Modify.css" />
</environment>

<div class="container">
    <div class="modal fade editModal" id="editBook">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title mx-auto mw-100" id="title">
                        <strong>
                            Edit current book
                        </strong>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <form asp-action="Edit" enctype="multipart/form-data">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group row">
                                <label class="col-4 col-md-4 col-form-label leftText" asp-for="Authors"></label>
                                <div class="col-8 col-md-8 ml-auto">
                                    <input asp-for="Authors" class="form-control" />
                                    <span asp-validation-for="Authors" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-md-4 col-form-label leftText" asp-for="Genres"></label>
                                <div class="col-8 col-md-8 ml-auto">
                                    <input asp-for="Genres" class="form-control" />
                                    <span asp-validation-for="Genres" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-md-4 col-form-label leftText" asp-for="Description"></label>
                                <div class="col-8 col-md-8 ml-auto">
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-md-4 col-form-label leftText" asp-for="Details"></label>
                                <div class="col-8 col-md-8 ml-auto">
                                    <input asp-for="Details" class="form-control" />
                                    <span asp-validation-for="Details" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label for="file" class="col-4 col-md-4 col-form-label fileUpload">
                                    Upload file
                                </label>
                                <input type="file" id="file" asp-for="Image" class="form-control" />
                            </div>
                            <div class="form-group row justify-content-center">
                                <button type="submit" class="btn actionButton">Edit it!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>