@inject IApplicationUserServices Service
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Profile.css" />
    <link rel="stylesheet" href="~/css/StatusMessage.css" />
</environment>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-3 col-3">
            <div class="col-12 col-md-12">
                @{
                    var userId = UserManager.GetUserId(User);
                    <img class="rounded" src="@Url.Content("..\\..\\" + Service.GetFolderWithFile(userId))" />
                }
            </div>
        </div>
        <div class="col-md-9 col-9 justify-content-center">
            @await Html.PartialAsync("_ProfileNav")
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}