
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Users/Layout.css" />
</environment>

<br />
<br />

<div class="container">
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}