
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Profile.css" />
    <link rel="stylesheet" href="~/css/StatusMessage.css" />
</environment>

<br />
<br/>

<div class="container">
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}