@model string
@inject IApplicationUserServices Service
@inject IApplicationPictureLogic PictureService

<div class="col-12 col-md-12">
    @{
        var userId = Service.GetApplicationUserByUsername(Model).Id;
        <img class="rounded" src="@Url.Content("..\\..\\" + PictureService.GetFolderWithFile(userId))" />
    }
</div>