@model ExploreBooks.Models.UserViewModels.IndexViewModel
@inject IUtilityService UtilityService

@{
    ViewData["Title"] = "Profile";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Users/Activity.css" />
    <link rel="stylesheet" href="~/css/PartialPosts.css" />
</environment>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-3">
            @await Html.PartialAsync("_LeftContent", Model.Id)
        </div>
        <div class="col-md-9 col-9 rightContent">
            @await Html.PartialAsync("_ProfileNav", Model.Username)
            
            <br />
            @await Html.PartialAsync("ActivityPages/_ActivityContent", Model)
        </div>
    </div>
</div>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script src="~/js/Users/Activity.js"></script>
</environment>
