@model ActivityViewModel
@inject IUtilityService UtilityService

@{
    ViewData["Title"] = "Profile";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Users/Activity.css" />
    <link rel="stylesheet" href="~/css/CommunityFeedback/PartialPosts.css" />
</environment>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-3">
            @await Html.PartialAsync("_LeftContent", Model.Id)
        </div>
        <div class="col-md-9 col-9 rightContent">
            @await Html.PartialAsync("_ProfileNav", Model.Username)
            
            <br />
            @await Html.PartialAsync("ActivityPages/_ActivityContent", Model)
        </div>
    </div>
</div>

<environment include="Development">
    <script src="~/js/Users/Activity.js"></script>
</environment>
