@model ExploreBooks.Models.UserViewModels.IndexViewModel
@inject IUtilityService Service

@{
    ViewData["Title"] = "Profile";
}

@{
    foreach (var activity in Model.BookActivity)
    {
        var book = Service.GetBookById(activity.TargetId);
        <h3>@activity.DateModified.Date.ToShortDateString()</h3>
        if (@book != null)
        {
            <h4>@book.Title</h4>
        }
    }
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
