@model LibraryViewModel
@inject IApplicationBookLogic BookService

@{
    ViewData["Title"] = "Profile";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Users/Library.css" />
</environment>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-3">
            @await Html.PartialAsync("_LeftContent", Model.Id)
        </div>
        <div class="col-md-9 col-9 rightContent">
            @await Html.PartialAsync("_ProfileNav", Model.Username)

            <br />
            @await Html.PartialAsync("LibraryPages/_FavoritesContent", Model.Id)
            
            <br />
            <div class="row justify-content-center">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item" onclick="displayAll()">All [@BookService.GetAllBooksNumber(Model.Id)]</li>
                    <li class="breadcrumb-item" onclick="displayPlanToRead()">Plan to read [@BookService.GetPlanToReadBooksNumber(Model.Id)]</li>
                    <li class="breadcrumb-item" onclick="displayReading()">Reading [@BookService.GetReadingBooksNumber(Model.Id)]</li>
                    <li class="breadcrumb-item" onclick="displayRead()">Read [@BookService.GetReadBooksNumber(Model.Id)]</li>            
                </ul>
            </div>
            <div class="container justify-content-center">
                <div id="allBooks">
                    @await Html.PartialAsync("LibraryPages/_AllBooksContent", Model.Id)
                </div>
                <div id="planToRead">
                    @await Html.PartialAsync("LibraryPages/_PlanToReadContent", Model.Id)
                </div>
                <div id="reading">
                    @await Html.PartialAsync("LibraryPages/_ReadingContent", Model.Id)
                </div>
                <div id="read">
                    @await Html.PartialAsync("LibraryPages/_ReadContent", Model.Id)
                </div>
            </div>
        </div>
    </div>
</div>

<environment include="Development">
    <script src="~/js/Users/Library.js"></script>
</environment>