@model ApplicationUser
@inject IApplicationFollowLogic FollowService

@{
    ViewBag.Title = "Social";
    Layout = "_Layout";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Users/Social.css" />
</environment>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-3">
            @await Html.PartialAsync("_LeftContent", Model.Id)
        </div>
        <div class="col-md-9 col-9 rightContent">
            @await Html.PartialAsync("_ProfileNav", Model.User)

            <br />
            <div class="row justify-content-center">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item" onclick="displayFollowed()">Following [@FollowService.GetNumberOfFollowedPeople(Model.Id)]</li>
                    <li class="breadcrumb-item" onclick="displayFollowers()">Followers [@FollowService.GetNumberOfFollowers(Model.Id)]</li>
                </ul>
            </div>
            <div class="container justify-content-center">
                <div id="followers">
                    @await Html.PartialAsync("SocialPages/_FollowedContent", Model.Id)
                </div>
                <div id="followed">
                    @await Html.PartialAsync("SocialPages/_FollowersContent", Model.Id)
                </div>
            </div>
        </div>
    </div>
</div>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script src="~/js/Users/Social.js"></script>
</environment>