#recomPicture {
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    height: 30px;
}

tbody {
    background-color: #CFD5D5;
}

p, h4, a {
    color: #333;
}

a:hover {
    color: #4d3333;
    text-decoration: none;
    opacity: 0.9;
}

.tooltip-inner, .tooltip-inner a, .tooltip-inner p, .tooltip-inner h4 {
    background-color: #532D2D;
    color: #CFD5D5;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    right: 0;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #532D2D;
}

.likeAlign {
    text-align: center;
    margin-left: -0.8rem;
}

.textButton {
    display: none;
}

.textAlign {
    text-align: left;
}

.displayedBooks {
    max-width: 140px;
    max-height: 190px;
    width: 140px;
    height: 190px;
    padding: 15px;
}

.displayCreator {
    margin-top: 20px;
}

.submittedBy {
    color: #4d3333;
}

.userProfile {
    color: #5d3b45;
}

.userProfile:hover {
    font-style: italic;
    color: #84474e;
}

.displayedText {
    color: #4d3333;
}

.submittedBy {
    margin-top: 20px;
}

.booksOverlap {
    margin-left: -5%;
}

.selectVote {
    background-color: #ac5358;
    color: #5d3b45;
}

.selectVote:hover {
    background-color: #532d2d;
    font-style: italic;
    color: #84474e;
}

.leftContent {
    border-right: 1px solid #DEE2E6;
}

.creatorContainer {
    width: 80%;
}

.displayCreator {
    margin-top: 50px;
}

.writtenBooks {
    max-width: 150px;
    max-height: 220px;
    width: 150px;
    height: 220px;
    padding-bottom: 15px;
}

.rightContent {
    border-left: 1px solid #DEE2E6;
}

#title {
    color: #4a2f37;
    font-style: italic;
}

.displayFeedback {
    cursor: pointer;
    color: #4a2f37;
}

.displayFeedback:hover {
    font-style: italic;
    color: #84474e;
}

.communityFeedback {
    display: none;
}

#books {
    color: #4a2f37;
}