#recomPicture {
    max-width: 60px;
    max-height: 60px;
    width: 60px;
    height: 60px;
}

tbody {
    background-color: #CFD5D5;
}

.likeAlign {
    text-align: center;
    margin-left: -0.8rem;
}

.textButton {
    display: none;
}

.textAlign {
    text-align: left;
}

.displayedBooks {
    max-width: 140px;
    max-height: 190px;
    width: 140px;
    height: 190px;
    padding: 15px;
}

.displayCreator {
    margin-top: 20px;
}

.submittedBy {
    color: #4d3333;
}

.userProfile {
    color: #5d3b45;
}

.userProfile:hover {
    font-style: italic;
    color: #84474e;
}

.displayedText {
    color: #4d3333;
}

.submittedBy {
    margin-top: 20px;
}

.booksOverlap {
    margin-left: -5%;
}

.selectVote {
    background-color: #ac5358;
    color: #5d3b45;
}

.selectVote:hover {
    background-color: #532d2d;
    font-style: italic;
    color: #84474e;
}

.leftContent {
    border-right: 1px solid #DEE2E6;
}

.creatorContainer {
    width: 80%;
}

.displayCreator {
    margin-top: 50px;
}