

@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<div class="container">
    <br />
    <div class="row justify-content-center">
        @await Html.PartialAsync("StartupPages/_AnnouncementsContent")
    </div>
    <br/>
    <br/>
    <div class="row">
        @await Html.PartialAsync("StartupPages/_GeneralPresentationContent")
    </div>
    <br/>
    <br/>
    <div class="row">
        @await Html.PartialAsync("StartupPages/_LatestBooksContent")
    </div>
</div>