@inject IGenreMiddleware GenreService

@{
    ViewData["Title"] = "Home Page";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Home/Index.css" />
</environment>

<br />
<br />
<div class="container">
    <br />
    <div class="row">
        @await Html.PartialAsync("StartupPages/_AnnouncementsContent")
    </div>
    <br />
    <div class="row">
        <div class="offset-2 col-md-8 col-8 border-top border-bottom">
            <ul class="breadcrumb justify-content-center">
                @{
                    foreach (var genre in GenreService.GetAllGenres())
                    {
                        <li class="breadcrumb-item actionLink">
                            <a asp-controller="Books" asp-action="Genres" asp-route-genre="@genre.Text">
                                @genre.Text [@GenreService.GetNumberOfBooksForSpecifiedGenre(genre.Text)]
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        @await Html.PartialAsync("StartupPages/_MostPopularBooksContent")
    </div>
    <br />
    <div class="row">
        @await Html.PartialAsync("StartupPages/_GeneralPresentationContent")
    </div>
    <br />
</div>