@model string
@inject IApplicationBookLogic BookService
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    var books = BookService.GetBooksOfAUser(Model).ToList();
    <div class="row justify-content-center">
        <div class="col"><hr /></div>
        <div class="col-auto">
            <h5>List of all books</h5>
        </div>
        <div class="col"><hr /></div>
    </div>
    <div class="row justify-content-center">
        @{
            if (SignInManager.IsSignedIn(User))
            {
                var userId = UserManager.GetUserId(User);
                if (books.Count == 0 && userId == Model)
                {
                    <br />
                    <h4>
                        Ops! Seems like it's nothing here yet..
                    </h4>
                    <h4>
                        Start browsing <a asp-controller="Books" asp-action="Index"> here</a> !
                    </h4>
                }
            }
            
            for (var index = 0; index < books.Count; ++index)
            {
                var checkIndex = index + 1;
                var displayInfo = "<h4>" + books[index].Title + "</h4><p>" + books[index].Description + "</p>";

                <div class="col-md-3 col-3">
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@books[index].Id" data-toggle="tooltip" data-placement="right" data-html="true" title="@displayInfo">
                        <img class="rounded imgLibrary" src="@Url.Content("..\\..\\images\\" + books[index].Folder + "\\" + books[index].ImageName)" />
                    </a>
                </div>

                if (checkIndex % 4 == 0)
                {
                    <div class="w-100"></div>
                }
            }
        }
    </div>
}