@model string
@inject IApplicationBookLogic BookService
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<div class="container">
    <div class="row justify-content-center">
        <div class="col-3"><hr /></div>
        <div class="col-auto">
            <h5>Favorites</h5>
        </div>
        <div class="col-3"><hr /></div>
    </div>
    <div class="row">
        <div class="offset-2 col-md-8 col-8 border border-top-0">
            @{
                var favorites = BookService.GetFavoriteBooks(Model);
                if (SignInManager.IsSignedIn(User))
                {
                    var userId = UserManager.GetUserId(User);
                    if (favorites.Count == 0 && userId == Model)
                    {
                        <br />
                        <h4>
                            No favorite book/s :'(
                        </h4>
                    }
                }
                
                @await Html.PartialAsync("LibraryPages/_CarouselContent", favorites)
              }
        </div>
    </div>
</div>