<div class="offset-2 col-md-8 col-8 border text-center actionLink">
    <h3><i class="fa fa-exclamation-circle"></i> Important general announcement</h3>
    <h6>The first version of the site will run shortly..</h6>
</div>