<div class="offset-1 col-md-10 col-10">
    <div class="row displayText">
        <div class="col-md-6 col-6 border-top border-right border-bottom text-center">
            <h5>
                <i class="fa fa-bookmark"></i> Track & share the impact of your latest book
            </h5>
            <h6>
                ExploreBooks gives you the opportunity to keep a track of your books
            </h6>
            <h6>
                ..this way you can see your latest read page, add them to favorite
            </h6>
            <h6>
                ..or even recommend them to others
            </h6>
        </div>
        <div class="col-md-6 col-6 border-top border-bottom text-center">
            <h5>
                <i class="fa fa-book"></i> Discover your new favorite book
            </h5>
            <h6>
                All thanks to the possibility to get a recommendation 
            </h6>
            <h6>
                ..based on your history or better...by searching through "List of books"
            </h6>
            <h6>
                ..or rather, searching for a totally new experience?
            </h6>
            <h6>
                ..if you're feeling lucky, hit random button!
            </h6>
        </div>
    </div>
    <br />
    <div class="row text-center displayText">
        <div class="offset-1 col-md-10 col-10 offset-1">
            <h6>
                ..and you can follow your new found favorite-reader
            </h6>
            <h5>
                ExploreBooks - it's all about the community's interaction!
            </h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10"><hr /></div>
    </div>
</div>