@inject IUtilityService UtilityService

@{ 

}

<div class="offset-2 col-md-8 col-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col"><hr /></div>
            <div class="col-auto">
                <h5>
                    <a asp-controller="Books" asp-action="Index">
                        Most popular books
                    </a>
                </h5>
            </div>
            <div class="col"><hr /></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 border-bottom">
                <div class="row justify-content-center">
                    @{
                        var popularBooks = UtilityService.GetMostPopularBooks();
                        <div class="carousel carousel-fade" data-ride="carousel">
                            @{
                                var count = popularBooks.Count;
                                var max = (count - 1) / 4;

                                <div class="carousel-inner">
                                    @for (var divNumber = 0; divNumber <= max; ++divNumber)
                                    {
                                        var active = "";
                                        if (divNumber == 0)
                                        {
                                            active += " active";
                                        }

                                        if (divNumber == max)
                                        {
                                            var difference = count - 4 * divNumber;
                                            <div class="carousel-item @active">
                                                <div class="row justify-content-center">
                                                    @for (var index = 0; index < difference; ++index)
                                                    {
                                                        var currentIndex = index + 4 * divNumber;

                                                        <div class="col-md col displayedBooks">
                                                            <img class="rounded writtenBooks" src="@Url.Content("..\\..\\images\\" + popularBooks[currentIndex].Folder + "\\" + popularBooks[currentIndex].ImageName)" />
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="carousel-item @active">
                                                <div class="row justify-content-center">
                                                    @for (var index = 0; index < 4; ++index)
                                                    {
                                                        var currentIndex = index + 4 * divNumber;

                                                        <div class="col-md col recommendedBooks">
                                                            <img class="rounded writtenBooks" src="@Url.Content("..\\..\\images\\" + popularBooks[currentIndex].Folder + "\\" + popularBooks[currentIndex].ImageName)" />
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>