.communityFeedback {
    display: none;
}

.textButton {
    display: none;
}

.textAlign {
    text-align: left;
}

hr {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.titleDisplay {
    display: inline-block;
}

.badge {
    margin-top: 1rem;
    width: 5rem;
    height: 2rem;
    text-align: center;
    line-height: 1.3rem;
}

.progress {
    height: 2rem;
    font-size: 0.8vw;
}

.genreBadge {
    background-color: #4a2f37;
    color: #C0B2B2;
    font-size: 12px;
}

.genreBadge:hover {
    background-color: #5d3b45;
    color: #ac5358;
    font-style: italic;
}

#title {
    color: #4a2f37;
    font-style: italic;
}

#recommendation {
    cursor: pointer;
    color: #4a2f37;
}

#recommendation:hover {
    color: #84474e;
}