.actionColors {
    background-color: #ffffff;
}

.displayAction {
    color: #372329;
}

.displayContent {
    cursor: pointer;
    color: #84474e !important;
}

.displayContent:hover {
    font-style: italic;
    color: #c0b2b2;
}

.displayNormalContent {
    color: #84474e;
}

.form-control input {
    margin-left: 1rem;
    width: 80% !important;
}